# MATLAB
*.asv
*.m~
*.autosave
slprj/
codegen/
*.mex*
*.p
*.fig

# MATLAB data
# *.mat
*[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9].mat
*_merged.mat

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Project folders
run_examples/
data/
